/* Write your code here */
.bg_container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.card_container {
  background-color: transparent;
  text-align: center;
}
.heading_review {
  color: #ffffff;
}
.ProfilePhoto {
}
.itemsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
}
.LeftIcon {
  width: 50px;
  height: 50px;
}
.btnEl {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.bodyContainer {
}
