/* Write your code here */
.bg_container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.card_container {
  background-color: transparent;
  text-align: center;
  
  
}
.heading_review {
  color: #ffffff;
  font-size: 45px;
}
.ProfilePhoto {
  width: 30%;
}
.itemsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.Icon {
  width: 160%;
}
.btnEl {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.bodyContainer {
}
.username {
  color: #ffffff;
  font-weight: 500;
  font-size: 35px;
}
.comapnyname {
  font-size: 25px;
  font-weight: 500;
}
.description {
  font-size: 21px;
  font-weight: 500;
  width: 900px;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}
